DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
CONTACT_RECIPIENT=contact@lebonmodele.fr
SMTP_ADDRESS=ssl0.ovh.net
SMTP_PORT=587
SMTP_USERNAME=contact@lebonmodele.fr
SMTP_PASSWORD=
SMTP_AUTHENTICATION=plain
SMTP_ENABLE_STARTTLS_AUTO=true
APP_HOST=lebonmodele.fr
ADMIN_INITIAL_PASSWORD=
